<p id="notice"><%= notice %></p>

<p>
  <strong>Daterequest:</strong>
  <%= application.dateRequest %>
</p>

<p>
  <strong>Dateeventi:</strong>
  <%= application.dateEventI %>
</p>

<p>
  <strong>Dateeventf:</strong>
  <%= application.dateEventF %>
</p>

<p>
  <strong>Timeevent:</strong>
  <%= application.timeEvent %>
</p>

<p>
  <strong>Eventcode:</strong>
  <%= application.eventCode %>
</p>

<p>
  <strong>Namerequesting:</strong>
  <%= application.nameRequesting %>
</p>

<p>
  <strong>Phonenum:</strong>
  <%= application.phoneNum %>
</p>

<p>
  <strong>Place:</strong>
  <%= application.place %>
</p>

<%= link_to 'Edit', edit_application_path(application) %> |
<%= link_to 'Back', applications_path %>
