<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @asistant.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asistant.name %>
</p>

<p>
  <strong>Carer:</strong>
  <%= @asistant.carer %>
</p>

<p>
  <strong>Codeevent:</strong>
  <%= @asistant.codeEvent %>
</p>

<%= link_to 'Edit', edit_asistant_path(@asistant) %> |
<%= link_to 'Back', asistants_path %>
