<%= form_for(event_form, as: :event,  url: event_form.action, method: event_form.method) do |f| %>
  <% if event_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_form.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code_event %><br>
    <%= f.number_field :code_event %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br>
    <%= f.text_field :event_type %>
  </div>
  <div class="field">
    <%= f.label :ponente_name %><br>
    <%= f.text_field :ponente_name %>
  </div>
  <div class="field">
    <%= f.label :person_in_charge %><br>
    <%= f.text_field :person_in_charge %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :forniture %><br>
    <%= f.check_box :forniture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
