<p id="notice"><%= notice %></p>

<p>
  <strong>Codeevent:</strong>
  <%= @event.codeEvent %>
</p>

<p>
  <strong>Eventtype:</strong>
  <%= @event.eventType %>
</p>

<p>
  <strong>Ponentename:</strong>
  <%= @event.ponenteName %>
</p>

<p>
  <strong>Personincharge:</strong>
  <%= @event.personInCharge %>
</p>

<p>
  <strong>Phonenum:</strong>
  <%= @event.phoneNum %>
</p>

<p>
  <strong>Forniture:</strong>
  <%= @event.forniture %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
